<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="waitConfigurationGroup">
      <section 
        name="waitConfiguration"
        type="Tiver.Fowl.Waiting.Configuration.WaitConfigurationSection, Tiver.Fowl.Waiting"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <!-- Configuration section settings area. -->
  <waitConfigurationGroup>
    <waitConfiguration 
      timeout="5000"
      pollingInterval="250" />
  </waitConfigurationGroup>
</configuration>