<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="waitConfigurationGroup">
      <section 
        name="waitConfiguration"
        type="Tiver.Fowl.Waiting.Configuration.WaitConfigurationSection, Tiver.Fowl.Waiting"
        allowLocation="true"
        allowDefinition="Everywhere" />
      <section 
        name="minimumWaitConfiguration"
        type="Tiver.Fowl.Waiting.Configuration.WaitConfigurationSection, Tiver.Fowl.Waiting"
        allowLocation="true"
        allowDefinition="Everywhere" />
      <section 
        name="fullWaitConfiguration"
        type="Tiver.Fowl.Waiting.Configuration.WaitConfigurationSection, Tiver.Fowl.Waiting"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <!-- Configuration section settings area. -->
  <waitConfigurationGroup>
    <waitConfiguration 
      timeout="5000"
      pollingInterval="250" />
    <minimumWaitConfiguration
      timeout="3000"
      pollingInterval="1000" />
    <fullWaitConfiguration
      timeout="3000"
      pollingInterval="1000"
      extendOnTimeout="true"
      extendedTimeout="7000" >
      <IgnoredExceptions>
        <Exception type="System.ArgumentException" />
        <Exception type="NUnit.Framework.AssertionException, NUnit.Framework" />
      </IgnoredExceptions>
    </fullWaitConfiguration>
  </waitConfigurationGroup>
</configuration>